<div class="page-header">
  <h3>Survey Response Option #<%= @survey_response_option.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Response text</dt>
      <dd><%= @survey_response_option.response_text %></dd>

      <dt>Survey</dt>
      <dd><%= @survey_response_option.survey_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/survey_response_options" class="btn btn-primary">
        Back
      </a>
      <a href="/survey_response_options/<%= @survey_response_option.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_survey_response_option/<%= @survey_response_option.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
