<!-- Validation failure messages -->
<% if @survey.errors.any? %>
  <% @survey.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header mt-1">
  <h3>Edit <%= @survey.survey_name %> survey</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_survey/<%= @survey.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for survey_name -->
      <div class="form-group">
        <label for="survey_name" class="control-label">
          Survey name
        </label>

        <input type="text" id="survey_name" name="survey_name" placeholder="Survey name" class="form-control" value="<%= @survey.survey_name %>">
      </div>

      
      

      <!-- Label and input for question_text -->
      <div class="form-group">
        <label for="question_text" class="control-label">
          Question text
        </label>

        <input type="text" id="question_text" name="question_text" placeholder="Question text" class="form-control" value="<%= @survey.question_text %>">
      </div>

      <button class="btn btn-warning">
        Update Survey Name / Question
      </button>
      or
      <a href="/surveys/<%= @survey.id %>">Cancel</a>
    </form>
  </div>
</div>
<div class="page-header mt-0"></div>
<div class="page-header">
  <h3>Add or edit response options</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Current response options</h4>
    <% @survey.response_options.each_with_index do |option, index| %>
    <p>
      <%= index + 1%> <%= option.response_text %> 
      <a href="/delete_survey_response_option/<%=option.id%>" class="badge" style="background-color:#d9534f">-</a>
    </p>    
    <%end%>
    

    <form action="/create_survey_response_option" method="post">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-left">
            
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="hidden" id="survey_id" name="survey_id" class="form-control" value="<%= @survey.id %>">
              <input type="text" id="response_text" name="response_text" class="form-control" placeholder="Add new response option">
            
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary">
              Add
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
    <div class="page-header mt-0"></div>    
    <h5>Link to take survey: <a href="/surveys/<%= @survey.id %>">https://borda-co-bertscnd.c9users.io/surveys/<%= @survey.id %></a></h5>
  </div>
</div>