<div class="page-header">
  <h3>Survey #<%= @survey.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Survey name</dt>
      <dd><%= @survey.survey_name %></dd>

      <dt>User</dt>
      <dd>
        <% if @survey.user.present? %>
          <a href="/users/<%= @survey.user_id %>">
            <%= @survey.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Question text</dt>
      <dd><%= @survey.question_text %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/surveys" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @survey.user %>
        <a href="/surveys/<%= @survey.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_survey/<%= @survey.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Survey has many survey_questions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Survey Questions
      </li>

      <% @survey.survey_questions.each do |survey_response_option| %>
        <li class="list-group-item">
          <a href="/survey_response_options/<%= survey_response_option.id %>">
            <%= survey_response_option.response_text %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/survey_response_options/<%= survey_response_option.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/survey_response_options/<%= survey_response_option.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_survey_response_option/<%= survey_response_option.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_survey_response_option" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for response_text -->
      <div class="form-group">
        <label for="response_text" class="control-label">
          Response text
        </label>

        <input type="text" id="response_text" name="response_text" placeholder="Response text" class="form-control" value="">
      </div>

      <!-- Label and input for survey_id -->
      <input type="hidden" name="survey_id" value="<%= @survey.id %>">

      <button class="btn btn-block btn-success">
        Create Survey Response Option
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Survey has many survey_responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Survey Responses
      </li>

      <% @survey.survey_responses.each do |survey_response| %>
        <li class="list-group-item">
          <a href="/survey_responses/<%= survey_response.id %>">
            <%= survey_response.survey_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/survey_responses/<%= survey_response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/survey_responses/<%= survey_response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_survey_response/<%= survey_response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_survey_response" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for survey_id -->
      <input type="hidden" name="survey_id" value="<%= @survey.id %>">

      <!-- Label and input for response_id -->
      <div class="form-group">
        <label for="response_id" class="control-label">
          Response
        </label>

        <%= select_tag(:response_id, options_from_collection_for_select(SurveyResponseOption.all, :id, :response_text), :class => "form-control") %>
      </div>

      <!-- Label and input for response_rank -->
      <div class="form-group">
        <label for="response_rank" class="control-label">
          Response rank
        </label>

        <input type="text" id="response_rank" name="response_rank" placeholder="Response rank" class="form-control" value="">
      </div>

      <!-- Label and input for submitter_name -->
      <div class="form-group">
        <label for="submitter_name" class="control-label">
          Submitter name
        </label>

        <input type="text" id="submitter_name" name="submitter_name" placeholder="Submitter name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Survey Response
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
