<div class="page-header">
  <h2><%= @survey.survey_name %> Survey</h2>

  <% if current_user == @survey.user %>
    <div class="btn-group">
      <a href="/surveys/<%= @survey.id %>/edit" class="btn btn-warning">
        Edit Survey
      </a>
      <a href="/delete_survey/<%= @survey.id %>" class="btn btn-danger" rel="nofollow">
        Delete Survey
      </a>
    </div>
  <% end %>
</div>


  
<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    <h4><strong>Survey Question:</strong> <%= @survey.question_text %></h4>
  </li>

  <li class="list-group-item">
    <form action="/submit_survey_response" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for survey_id -->
      <input type="hidden" name="survey_id" value="<%= @survey.id %>">
      <input type="hidden" name="num_options" value="<%= @survey.response_options.count %>">

      <!-- Label and input for submitter_name -->
      
      
      <div class="form-row">
        <label for="submitter_name" class="col-sm-1 col-form-label mt-1">
          Name
        </label>
        <div class="col-sm-11">
          <input type="text" id="submitter_name" name="submitter_name" placeholder="Your name here" class="form-control" value="">
        </div>
      </div>
      
      <div class = "row mb-1"></div>
      <div class = "form-row"><label class="col-sm-2 col-form-label mt-1">Rank the options:</label></div>
      <div class = "row mb-1"></div>
      
      <div class="container mb-1">
        <% @survey.response_options.each_with_index do |option, index| %>
          <div class="row mb-1">
            <div class="col-md-1">
              <select name="response_<%= index %>" id="response_<%= index %>" class="form-control">
                <% @survey.response_options.each_with_index do |option, index| %>
                  <option value="<%= index + 1%>"><%= index + 1%></option>
                <%end%>
              </select>
            </div>
            
            <div class="col-md-4 align-text-middle">
              <label for="response_<%= index %>" class="control-label mt-1">
                <%=option.response_text%>
              </label>
            </div>
          </div>
        <%end%>
      </div>  
      <button class="btn btn-block btn-success">
        Submit Survey Response
      </button>
    </form>
  </li>
</ul>
