<div class="page-header">
  <h3>Survey Response #<%= @survey_response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Survey</dt>
      <dd>
        <% if @survey_response.survey.present? %>
          <a href="/surveys/<%= @survey_response.survey_id %>">
            <%= @survey_response.survey.survey_name %>
          </a>
        <% end %>
      </dd>

      <dt>Response</dt>
      <dd>
        <% if @survey_response.response_option.present? %>
          <a href="/survey_response_options/<%= @survey_response.response_id %>">
            <%= @survey_response.response_option.response_text %>
          </a>
        <% end %>
      </dd>

      <dt>Response rank</dt>
      <dd><%= @survey_response.response_rank %></dd>

      <dt>Submitter name</dt>
      <dd><%= @survey_response.submitter_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/survey_responses" class="btn btn-primary">
        Back
      </a>
      <a href="/survey_responses/<%= @survey_response.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_survey_response/<%= @survey_response.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
